fastapi
uvicorn
python-multipart
python-dotenv
fpdf2
google-generativeai
groq
matplotlib
nbformat
numpy
pandas
plotly
pydantic
requests
shap
scikit-learn
authlib
httpx
pyjwt
sqlalchemy
psycopg2-binary
